.background-login {
  background: url(../../assets/imgs/login/01.png);
  background-image: -moz-element();
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.gradient-colors {
  background: linear-gradient(to right, #101535, #86a7f0, #b069ff, #101535);
}

.background-gradiant {
  background: linear-gradient(to right, #101535, #86a7f0, #b069ff, #101535);
}

.border-card {
  border: 1px #b069ff solid;
  border-radius: 19px;
}
.border-card-img {
  border: 1px #b069ff solid;
}

.list-group-propieties {
  cursor: pointer;
}

app-menu {
  display: none;
  overflow: hidden;
}
