<section id="register" class="h-100 gradient-form background-login">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-10">
        <div class="card mb-3 rounded-4 text-black">
          <div class="row g-0">
            <div class="col-md-6">
              <div class="card-body p-md-5 mx-md-4">
                <ul class="list-group list-group-horizontal w-100 h-100">
                  <li
                    class="list-group-item list-group-item-action list-group-propieties"
                    routerLink="/login"
                  >
                    Login
                  </li>
                  <li
                    class="list-group-item gradient-colors w-100 h-100 text-white disabled"
                  >
                    Register
                  </li>
                </ul>
                <div class="text-center">
                  <img
                    src="../../assets/imgs/logo.png"
                    style="width: 195px"
                    alt="logo"
                  />
                  <h4 class="mt-1 mb-3">We are The Seeker's</h4>
                </div>
                <form>
                  <h3 class="card-title text-center mb-4">
                    Please Register to login
                  </h3>
                  <div class="mb-3">
                    <label for="email" class="form-label">User (Email)</label>
                    <input
                      type="email"
                      placeholder="Example: email@email.com"
                      name="email"
                      class="form-control"
                      id="email"
                      aria-describedby="email"
                    />
                    <div id="email" class="form-text">
                      We'll never share your email with anyone else.
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="picture" class="form-label">Picture</label>
                    <input
                      class="form-control"
                      type="file"
                      name="picture"
                      id="picture"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      placeholder="Example: coxinha123"
                      id="password"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="confirmPassword" class="form-label"
                      >Confirm Password</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Example: coxinha123"
                      name="confirmPassword"
                      id="confirmPassword"
                    />
                  </div>
                  <div class="d-grid gap-2 mx-auto mt-4">
                    <button
                      class="btn btn-primary gradient-colors"
                      type="button"
                    >
                      Register
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-6">
              <img
                class="w-100 h-100"
                src="../../assets/imgs/login/04.jpg"
                alt="Register Image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
