.background-login {
  background: url(../../assets/imgs/login/01.png);
  background-image: -moz-element();
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.gradient-colors {
  background: linear-gradient(to right, #ad65ff, #86a7f0, #b069ff, #84a3ec);
}

.background-gradiant {
  background: linear-gradient(to right, #ad65ff, #86a7f0, #b069ff, #84a3ec);
}

.border-card {
  border: 1px #b069ff solid;
  border-radius: 19px;
}
.border-card-img {
  border-radius: 19px;
  border: 1px #b069ff solid;
}

.list-group-propieties {
  cursor: pointer;
}

/*  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); */
